.skills_section {
    margin-top: 5rem;
    width: 75%;
    height: 30vh;
    padding: 0px 13%;
    background-color: #BFE6EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills_section p {
    font-size: 1.5rem;
    color: rgb(18, 18, 62);
}

.skills_main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skills_main .skill_bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill_bar .info p:nth-child(2) {
    font-weight: 500;
}

.skill_bar .bar {
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}

.skill_bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: rgb(35, 35, 167);
    border-radius: 25px;
}

.skill_bar .bar .html {
    width: 90%;
    animation: html 2s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skill_bar .bar .css {
    width: 80%;
    animation: css 2s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skill_bar .bar .js {
    width: 80%;
    animation: js 2s;
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skill_bar .bar .py {
    width: 80%;
    animation: py 2s;
}

@keyframes py {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skill_bar .bar .cpp {
    width: 90%;
    animation: cpp 2s;
}

@keyframes cpp {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skill_bar .bar .sql {
    width: 70%;
    animation: sql 2s;
}

@keyframes sql {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skill_bar .bar .git {
    width: 65%;
    animation: git 2s;
}

@keyframes git {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

.skill_bar .bar .react {
    width: 60%;
    animation: react 2s;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.zoom_in_skill {
    transition: all 0.3s ease-out;
    transform: scale(1.1) translateY(-1px);
}

.zoom_out_skill {
    transition: all 0.3s ease-out;
    transform: scale(1) translateY(+1px);
}